main{
    padding-top: 50px;
    z-index: 0;
}
#homepage{
    padding-top: 200px;
}
h1{
    font-size: 60px;
    text-align: center;
    /*font-style: italic;*/
    width: 500px;
    /*padding: -20px;*/
    text-shadow: 3px 3px rgba(30, 40, 66, 0.445);
}
h1 p{
    text-align: left;    
}
h3{
    font-size:20px;
    text-decoration: underline;
    text-align: center;
}
h2{
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px rgba(30, 40, 66, 0.445);
}
#greeting{/*On the home page, smaller text underneath first part of h1*/
    font-size: 36px;
}
.weeks{/*for the expanded weekly dev blog paragraphs (all of them grouped together) */
    display: none;
    /*padding-bottom: 300px;*/
}
.weeks p{
    padding: 20px;
    padding-bottom: 1px;
    text-align: left;
}
.weeks strong{
    font-size: 15px;
}
.weeks:target
{
    display: block;
}
.centered{
    margin: 0 auto;
}
/*.WeeklyContent*/ ul li article{ /*containers for weekly dev blogs. .weeklyDevBlogs is the section of the page that shows the weekly dev blog section in its entirety*/
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px;
    margin-bottom: 50px;
    background-color: rgba(245, 245, 220, 1);
    border-radius: 10px;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}
ul li{
    display: flex;
    justify-content: center;
}
.desc{
    left: 120%;
    display: none;
    transition: 0.5s;
}

.WeeklyContent ul li{
    list-style: none;
}
.extraResearch ul li{
    list-style: none;
}
.WeeklyContent>ul>li>article{
    padding-bottom: 50px;
}
.extraResearch>ul>li>article{
    padding-bottom: 50px;
}
.WeeklyContent ul li article h2{
    text-align: center;
}
.check{/*checkbox class - checkboxes hidden*/
    display: none;
}
.WeeklyContent{
    padding-top: 30px;
}

.portfolioObject{
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}

button{
    min-height: 100px;
    margin: 0 auto;
    border: none;
    transition: 0.3s;
}
button:hover{
    cursor: pointer;

    box-shadow: 0px -1px 24px 0px rgb(255, 255, 255);
    -webkit-box-shadow: 0px -1px 24px 0px rgb(255, 255, 255)   ;
    -moz-box-shadow: 0px -1px 24px 0px rgb(255, 255, 255);
    transition: 0.3s;
}
#assignmentOne:Checked ~ #assignmentOneDesign{
    display: block;
}
#assignmentOne:not(:checked) ~ #assignmentOneDesign{
    display: none;
}
#assignmentOne:checked ~ #WDBandAW>#WDBandAW>#assignmentOneSelected{
    background-color: rgba(245, 245, 220, 0.516);
}
#assignmentThree:checked ~ #assignmentThreeDesign{
    display: block;
}
#assignmentThree:not(:checked) ~ #assignmentThreeDesign{
    display: none;
}
#assignmentThree:checked ~ #WDBandAW>#WDBandAW>#assignmentThreeSelected{
    
    background-color: rgba(245, 245, 220, 0.516);
}
/*#IxD:not(:checked) ~ #WDBandAW>#ixdSelected{
    background-color: beige;
}
#Style:checked ~ #styl{
    display: block;
}
#Style:not(:checked) ~ #WDBandAW>#styleSelected{
    background-color: beige;
}
#Imp:checked ~ #impl{
    display: block;
}
#Imp:not(:checked) ~ #WDBandAW>#impSelected{
    background-color: beige;
}*/
#aboutMeButton{
    background-color: beige;
    color: black;
    text-decoration: none;
}

#WeekDev:not(:checked) ~ #WDBandAW>#wdbSelected{
    background-color: rgba(245, 245, 220, 0.516);
}
#AR:checked ~ #WDBandAW>#arSelected{
    background-color: rgba(245, 245, 220, 0.516);
}
#AR:checked ~ .extraResearch{
    display: block;
}
#WeekDev:checked ~ .WeeklyContent{
    display: none;
}
#WeekDev:not(:checked) ~ .WeeklyContent{
    display: block;
}
label:not(.image) :not(.burgerButton):hover{
    box-shadow: 0px -1px 24px 0px rgb(255, 255, 255);
    -webkit-box-shadow: 0px -1px 24px 0px rgb(255, 255, 255)   ;
    -moz-box-shadow: 0px -1px 24px 0px rgb(255, 255, 255);
}
.hide{
    display: none   ;
}
.expandBtn{/*label corresponding to checkbox - click to expand/collapse weekly dev blog paragraphs*/
    float: right;
    text-align: center;
    margin: 0 auto;
    background-color: beige;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}

.pageToggle :hover{
    cursor: pointer;
    box-shadow: 0px -1px 24px 0px rgb(255, 255, 255);
    -webkit-box-shadow: 0px -1px 24px 0px rgb(255, 255, 255)   ;
    -moz-box-shadow: 0px -1px 24px 0px rgb(255, 255, 255);
    transition: 0.3s;
}
.introText{/*Home page text underneath header*/
    margin: 0 auto;
    margin-top: 30px;
    width: 700px;
    background-color: beige;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}
.writing{/*WDB h1*/
    text-align: center;
    margin: 0 auto;
    padding: 80px;
    padding-bottom: 100px;
}
#essay{
    padding-bottom: 0px;
}
#WDBandAW{ /*WDB subheadings to switch between WDB and Additional research*/
    width: 60%;
    margin: 0 auto;
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    /*border: solid black;*/
    align-items: center; 
    justify-content: center;
    text-align: center;
    place-content: center;  
}

.WeeklyContent{
    display: block;
}

#styleguide{
    width: 90%;
}
#AR:not(:checked) ~ .extraResearch{
    display: none;
}
#palette
{
    width: 40%;
}
.pageToggle{
    margin: 50px;
    margin-bottom: 100px;
    padding: 30px;
    font-size: 2page5px;
    text-decoration: none;
    color: black;
    font-style: italic;
    background-color: beige;
    border-radius: 7px; 
    font-size: 25px;

}
label:hover{
    cursor: pointer;
}
.introText > a{
    text-align: right;
    float: right;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
    margin: 30px;
    margin-top: 20px;
    box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
}
.DisplayPic{/*profile pictures*/
    border-radius: 30%;
    margin: 0 30px;
    width: 350px;
    height: 350px;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}
#AboutMe{
    width: 200px;
    height: 200px;
    border-radius: 30%;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}
.container{/*Contains the block on home page that holds h1 and profile pic*/
    display: flex;
    justify-content: center;
}
.general-border{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 15px;
    background-color: rgba(245, 245, 220, 1);
    border-radius: 10px;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);

}
li{
    text-decoration: none;
    list-style: none;
}
.general-border.narrower{
    width: 60%;                                                                     /*chese*/
    display: none;
}
.container.portfolio{
    margin-bottom: 80px;
    align-items: center;
}
header{
    top: 0px;
    background-color:rgba(30, 40, 66, 0.836);
    width: 100%;
    height: 100px;
    position: fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
    box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
}
body{
    margin: 0;
    padding: 0;
    background-color:rgb(125, 125, 125);
}

header nav ul li{
    float: right;
    margin-top:20px;
    margin-right: 30px;
    display: block;
    /*background-color: blueviolet;*/
}
.headerOption{
    color:rgb(0, 0, 0);
    display: inline;
    list-style-type: none;

    font-style: normal;
    opacity: 100%;  
    border-radius: 7px;
    padding: 10px 10px 10px 10px;
    margin: 30px;
    margin-top: 5px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
    background-color: beige;
    box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    transition: 0.3s;
}
a:not(#logo):hover{
    box-shadow: 0px -1px 24px 0px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px -1px 24px 0px rgba(255,255,255,0.75);
-moz-box-shadow: 0px -1px 24px 0px rgba(255,255,255,0.75);
transition: 0.3s;
}
body{
    font-family: Tahoma, sans-serif;
}
header #logo{
    float: left;
    margin-top: 6px;
    margin-left: 40px;
}
#logo{
    font-size: 48px;
    font-style:normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
}
header nav ul li #logo a{
    margin: 0 auto;
    background-color: aquamarine;
}

.burgerButton{
    width: 50px;
    font-size: 25px;
    float: right;
    margin-right: 35px;
    margin-top: 30px;
    display: none;
}

#burgerButtonMenu:checked ~#headerNavSmall{
    left: 0%;
}

@media (max-width:1125px){
    #WDBandAW{ /*WDB subheadings to switch between WDB and Additional research*/
        grid-template-columns: repeat(2, 1fr);
    }
    .burgerButton{
        display: block;
    }
    header nav ul li{
        float: none;
        display: inline-block;
        width: 40%;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    header nav ul li a{
        padding: 100px;
    }
    #headerNavSmall{
        position:fixed ;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.395);
        height: 200vh;
        text-align: center;
        top: 100px;
        list-style: none;
        margin: 0;
        padding: 0;
        left: -120%;
        transition: all 1s;
    }
    .headerOption{
        display: block;
        padding: 20px;
    }
}
