main{
    padding-top: 50px;
    z-index: 0;
}
#homepage{
    padding-top: 200px;
}
h1{
    font-size: 60px;
    text-align: center;
    /*font-style: italic;*/
    width: 500px;
    /*padding: -20px;*/
    text-shadow: 3px 3px rgba(30, 40, 66, 0.445);
}
h1 p{
    text-align: left;    
}
h3{
    font-size: 25x;
    text-decoration: underline;
    text-align: center;
}
h2{
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px rgba(30, 40, 66, 0.445);
}
#greeting{/*On the home page, smaller text underneath first part of h1*/
    font-size: 36px;
}
.weeks{/*for the expanded weekly dev blog paragraphs (all of them grouped together) */
    display: none;
}
.weeks p{
    padding: 20px;
    padding-bottom: 1px;
}
.weeks strong{
    font-size: 20px;
}
.weeks:target
{
    display: block;
}
.WeeklyContent ul li article{ /*containers for weekly dev blogs. .weeklyDevBlogs is the section of the page that shows the weekly dev blog section in its entirety*/
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px;
    background-color: rgba(245, 245, 220, 1);
    border-radius: 10px;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}

.WeeklyContent ul li{
    list-style: none;
}
.extraResearch ul li{
    list-style: none;
}
.WeeklyContent>ul>li>article{
    padding-bottom: 50px;
}
.extraResearch>ul>li>article{
    padding-bottom: 50px;
}
.WeeklyContent ul li article h2{
    text-align: center;
}
.check{/*checkbox class - checkboxes hidden*/
    display: none;
}
.WeeklyContent{
    padding-top: 30px;
}
#WkOne:checked ~ #weekfirst{/*week x dev blog content expanded*/
    display: block;
}
#WkOne:checked ~ #weekOneLabel{
    background-color: rgba(255, 99, 71, 1);
}
.portfolioObject{
    border-radius: 10px;
    width: 80%;
    /*padding-top: 30px;*/ 
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}
/*#WkOne:not(:checked) ~ #weekfirst{
    display: none;
}*/
#WkTwo:checked ~ #weekSecond{
    display: block;
}
#WkTwo:checked ~ #weekTwoLabel{
    background-color: rgba(255, 99, 71, 1);
}
/*#WkTwo:not(:checked) ~ #weekSecond{
    display: none;
}*/
#WkThree:checked ~ #weekThird{
    display: block;
}
#WkThree:checked ~ #weekThreeLabel{
    background-color: rgba(255, 99, 71, 1);
}
#WkFour:checked ~ #weekFourth{
    display: block;
}
#WkFour:checked ~ #weekFourLabel{
    background-color: rgba(255, 99, 71, 1);
}
#WkFive:checked ~ #weekFifth{
    display: block;
}
#WkFive:checked ~ #weekFiveLabel{
    background-color: rgba(255, 99, 71, 1);
}
#WkSix:checked ~ #weekSixth{
    display: block;
}
#WkSix:checked ~ #weekSixLabel{
    background-color: rgba(255, 99, 71, 1);
}
#WkSeven:checked ~ #weekSeventh{
    display: block;
}
#WkSeven:checked ~ #weekSevenLabel{
    background-color: rgba(255, 99, 71, 1);
}
#AROne:Checked ~ #ARFirst{
    display: block;
}
#AROne:Checked ~ #ARLABEL{
    background-color: rgba(255, 99, 71, 1);
}
/*label:hover{
    box-shadow: 0px -1px 24px 0px rgb(255, 255, 255);
    -webkit-box-shadow: 0px -1px 24px 0px rgb(255, 255, 255)   ;
    -moz-box-shadow: 0px -1px 24px 0px rgb(255, 255, 255);
}*/

label:not(.image):hover{
    box-shadow: 0px -1px 24px 0px rgb(255, 255, 255);
    -webkit-box-shadow: 0px -1px 24px 0px rgb(255, 255, 255)   ;
    -moz-box-shadow: 0px -1px 24px 0px rgb(255, 255, 255);
}
.hide{
    display: none   ;
}
.expandBtn{/*label corresponding to checkbox - click to expand/collapse weekly dev blog paragraphs*/
    float: right;
    text-align: center;
    margin: 0 auto;
    background-color: beige;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}
#Wireframe:Checked ~ #wire{
    display: block;
}
#Wireframe:not(:checked) ~ #wire{
    display: none;
}
#Wireframe:not(:checked) ~ #WDBandAW>#wireframeSelected{
    background-color: beige;
}
#IxD:checked ~ #ixdl{
    display: block;
}
#IxD:not(:checked) ~ #WDBandAW>#ixdSelected{
    background-color: beige;
}
#Style:checked ~ #styl{
    display: block;
}
#Style:not(:checked) ~ #WDBandAW>#styleSelected{
    background-color: beige;
}
#Imp:checked ~ #impl{
    display: block;
}
#Imp:not(:checked) ~ #WDBandAW>#impSelected{
    background-color: beige;
}
#aboutMeButton{
    background-color: beige;
    color: black;
    text-decoration: none;
}
.introText{/*Home page text underneath header*/
    margin: 0 auto;
    margin-top: 30px;
    width: 700px;
    background-color: beige;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}
.writing{/*WDB h1*/
    text-align: center;
    margin: 0 auto;
    padding: 80px;
    padding-bottom: 100px;
}
#essay{
    padding-bottom: 0px;
}
#WDBandAW{ /*WDB subheadings to switch between WDB and Additional research*/
    margin: 0 auto;
    text-align: center;
}
#WeekDev:checked ~ .WeeklyContent{
    display: none;
}
#WeekDev:not(:checked) ~ .WeeklyContent{
    display: block;
}
.WeeklyContent{
    display: block;
}
#WeekDev:not(:checked) ~ #WDBandAW>#wdbSelected{
    background-color: rgba(245, 245, 220, 1);
}
#AR:checked ~ #WDBandAW>#arSelected{
    background-color: rgba(245, 245, 220, 1);
}
#AR:checked ~ .extraResearch{
    display: block;
}
#styleguide{
    width: 90%;
}
#AR:not(:checked) ~ .extraResearch{
    display: none;
}
#palette
{
    width: 40%;
}
.pageToggle{
    margin: 50px;
    margin-bottom: 100px;
    padding: 30px;
    font-size: 2page5px;
    text-decoration: none;
    color: black;
    font-style: italic;
    background-color: rgba(255, 99, 71, 0.473);
    border-radius: 7px; 
    font-size: 25px;

}.pageToggle:hover{
    cursor: pointer;
}
label:hover{
    cursor: pointer;
}
.introText > a{
    text-align: right;
    float: right;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
    margin: 30px;
    margin-top: 20px;
    box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
}
.DisplayPic{/*profile pictures*/
    border-radius: 30%;
    margin: 0 30px;
    width: 350px;
    height: 350px;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}
#AboutMe{
    width: 200px;
    height: 200px;
    border-radius: 30%;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}
.container{/*Contains the block on home page that holds h1 and profile pic*/
    display: flex;
    justify-content: center;
}
.general-border{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px;
    background-color: rgba(245, 245, 220, 1);
    border-radius: 10px;
    box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);

}
li{
    text-decoration: none;
    list-style: none;
}
.general-border.narrower{
    width: 60%;
    display: none;
}
.container.portfolio{
    margin-bottom: 80px;
    align-items: center;
}
header{
    background-color:rgba(30, 40, 66, 0.836);
    width: 100%;
    height: 100px;
    position: fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
    box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
}
body{
    margin: 0;
    padding: 0;
    background-color:rgb(125, 125, 125);
}

header nav ul li{
    float: right;
    margin-top:20px;
    margin-right: 30px;
    display: block;
    /*background-color: blueviolet;*/
}
.headerOption{
    color:rgb(0, 0, 0);
    display: inline;
    list-style-type: none;

    font-style: normal;
    opacity: 100%;  
    border-radius: 7px;
    padding: 10px 10px 10px 10px;
    margin: 30px;
    margin-top: 5px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
    background-color: beige;
    box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 22px -1px rgba(0,0,0,0.75);
   
}
a:not(#logo):hover{
    box-shadow: 0px -1px 24px 0px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px -1px 24px 0px rgba(255,255,255,0.75);
-moz-box-shadow: 0px -1px 24px 0px rgba(255,255,255,0.75);
}
body{
    font-family: Tahoma, sans-serif;
}
header #logo{
    float: left;
    margin-top: 4px;
    margin-left: 40px;
}
#logo{
    font-size: 48px;
    font-style:normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
}
header nav ul li #logo a{
    margin: 0 auto;
    background-color: aquamarine;
}

@media (max-width:1125px){
    header nav ul li{
        float: none;
        display: inline-block;
        width: 80%;
        padding-bottom: 50px;
    }
    header nav ul li a{
        padding: 100px;
    }
    header nav ul{
        position:fixed ;
        width: 100%;
        background-color: rgba(48, 48, 48, 0.395);
        height: 100vh;
        text-align: center;
        top: 85px;
        list-style: none;
        margin: 0;
        padding: 0;
       /* left: -120%;*/
        transition: all 1s;
    }
    .headerOption{
        display: block;
        padding: 10px;
    }
}
